<div class="address-book-table">
  <div *ngFor="let contact of contacts; let i=index;" class="contact" [ngClass]="{'alternate': (i%2===1)}">
    <div class="row">
      <div class="column3" [ngStyle]="{'font-weight': 'bold', 'zoom': '1.4'}" title="{{contact.getName()}}">{{contact.getName()}}</div>
    </div>
    <div class="row">
      <div class="column2" title="{{contact.address}}">{{contact.address}}</div>
      <div class="column4 center" title="{{contact.city}}">{{contact.city}}</div>
      <div class="column4 center" title="{{contact.county}}">{{contact.county}}</div>
    </div>
    <div class="row">
      <div class="column3" [ngStyle]="{'font-weight': 'bold'}" title="{{translateCountry(contact.country)}}">
        {{translateCountry(contact.country)}}</div>
    </div>
    <div class="row">
      <div *ngFor="let contactType of contact.contacts" class="column2"
           title="{{getContactDesc(contactType.type)}}: {{contactType.value}}">
        {{getContactDesc(contactType.type)}}:&nbsp;&nbsp;<b>{{contactType.value}}</b></div>
    </div>
    <div class="container-flex">
      <div class="ui-buttonset">
        <a class="action-link red" (click)="deleteContact(contact.id)">
          <i class="fa fa-close" aria-hidden="true"></i> Delete
        </a>
        <a class="action-link green" (click)="updateContact(contact.id)">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
        </a>
      </div>
    </div>
  </div>
</div>
