<div class="container-fluid">
  <h2 title="{{title}}">
    {{title}}

  </h2>
</div>
<br/>
<div class="container-fluid">
  <h3 title="{{description}}">
    {{description}}

  </h3>
</div>
<br/>
<div class="container-fluid">
<form class="form-inline" [ngStyle]="{'width': '100%'}">
  <div class="form-group" [ngStyle]="{'width': '100%'}">
    <span class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true" [ngClass]="{'invisible': !isLoading}"></span>
    <span class="fa fa-flash" aria-hidden="true" *ngIf="isError"></span>
    <span class="error" *ngIf="isError">Error</span>
    <label class="searchLabel" [ngStyle]="{'width': '100%'}">Full Text Search:</label>&nbsp;&nbsp;
    <filter-box (searchStart)="start($event)" (searchRequest)="search($event)" [requestForChange]="change"></filter-box>
  </div>
</form>
<br/>
  <sorting-box (sorted)="sorted($event)" [items]="sortingItems" [selected]="currentItem"></sorting-box>
<br/>
<label class="selector">
  <i class="fa fa-plus-circle" (click)="addContact()" aria-hidden="true"></i>
  Add New Contact
</label>
  <div class="alert alert-danger" *ngIf="showError">Unable to {{infoType}} the contact.</div>
  <div class="alert alert-info" *ngIf="showInfo">Successful executed the {{infoType}} of the contact.</div>
<br/>
  <item-list-table [elements]="contacts" [references]="metaValues" [metadata]="contactsMeta"
  (update)="updateContact($event)" (delete)="deleteContact($event)" ></item-list-table>
  <paging-box [itemSize]="indexSize" [pageSize]="pageSize" [pageSizeChangeEvent]="pageSizeChangeEvent" (paging)="pagingRequired($event)"></paging-box>
</div>
<edit-dialog [metadata]="contactsMeta" [linkeddata]="metaValues" [activation]="dialogActivation"
             [width]="600" [height]="600" (changed)="contactChanged($event)"></edit-dialog>
