<p style="width: 100%; display: inline;">
<img src="../../assets/logos/angular.png" style="width: 60px; height: 60px; position: relative; float: left;">
</p>

<div class="container-fluid" style="padding: 30px; padding-top: 50px;">
  <div class="container-fluid">
    <h1 title="{{title}}">
      {{title}}

    </h1>
</div>
<br/>
<app-page-not-found-page></app-page-not-found-page>
<br/>
<app-unauthorized-page></app-unauthorized-page>
<br/>
<br/>
<h2>Router Outlet</h2>
<br/>
<div class="container-fluid" style="padding-top: 25px;">
  <router-outlet></router-outlet>
</div>
