<div class="item-list">
  <div *ngFor="let element of elements; let i=index;" class="item-list-box" [ngClass]="{'alternate': (i%2===1)}">
    <div *ngFor="let field of getMetaFields()">
      <div class="row" *ngIf="isShown(field)">
        <div [ngSwitch]="field.type">
          <div *ngSwitchCase="'list'">
            <div  class="column4" [ngStyle]="{'text-align': 'right', 'padding-right' : '5px'}"  title="{{field.name}}">{{field.name}}</div>
            <div class="column2on3"
                 title="{{getListItemValue(getFieldValue(element, field), field)}}">
              <b>{{getListItemValue(getFieldValue(element, field), field)}}</b>
            </div>
          </div>
          <div *ngSwitchCase="'map'">
            <div>
              <div  class="column4" [ngStyle]="{'text-align': 'right', 'padding-right' : '5px'}"  title="{{field.name}}">{{field.name}}</div>
            </div>
            <div>
              <div *ngFor="let subElement of getFieldValue(element, field)" class="bubble"
                   title="{{getMapItemDesc(subElement, field)}}: {{getMapItemValue(subElement, field)}}">
                <b>{{getMapItemDesc(subElement, field)}}: {{getMapItemValue(subElement, field)}}</b>
              </div>
            </div>
          </div>
          <div *ngSwitchDefault >
            <div  class="column4" [ngStyle]="{'text-align': 'right', 'padding-right' : '5px'}"  title="{{field.name}}">{{field.name}}</div>
            <div  class="column2on3" [ngStyle]="{'text-align': 'left', 'padding-left' : '5px'}" title="{{getFieldValue(element, field)}}"><b>{{getFieldValue(element, field)}}</b></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-flex">
      <div class="ui-buttonset">
        <a class="action-link red" (click)="deleteItem(element.id)">
          <i class="fa fa-close" aria-hidden="true"></i> Delete
        </a>
        <a class="action-link green" (click)="updateItem(element.id)">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
        </a>
      </div>
    </div>
  </div>
</div>
